In [ ]:
#Basics
#print , fstring? variables what are they?
print("Hello Noor, This is much easier than you think")
name=input("Enter your name: ")
print(f"Hello {name}, This is much easier than you think")
#strings in python are immutable while int, float variables are mutable.
#basic string functions
name.upper()
name.lower()
name.capitalize()

Hello Noor, This is much easier than you think
Enter your name: niSa
Hello niSa, This is much easier than you think
NISA

'Nisa'

In [ ]:
#Operations and operands
#I've typecasted the input into integer as the input it was taking was in string.
var_num1=int(input("Enter your 1st number: "))
var_num2=int(input("Enter your 2nd number: "))
var_num3=0
#Lets just do basic D.M.A.S operations
var_num3=int(var_num1)/int(var_num2)
print(f"The division of {var_num1} and {var_num2} is {var_num3}")
var_num3=int(var_num1)*int(var_num2)
print(f"The multiplication of {var_num1} and {var_num2} is {var_num3}")
var_num3=int(var_num1)+int(var_num2)
print(f"The sum of {var_num1} and {var_num2} is {var_num3}")
var_num3=int(var_num1)-int(var_num2)
print(f"The subtraction of {var_num1} and {var_num2} is {var_num3}")

Enter your 1st number: 3
Enter your 2nd number: 6
The division of 3 and 6 is 0.5
The multiplication of 3 and 6 is 18
The sum of 3 and 6 is 9
The subtraction of 3 and 6 is -3

In [ ]:
# NOW SOME LOOPS
#FOR LOOP
for i in range(10): #here I've simply done i=0__i<10
    print(i)#printing i
print("I'm starting from 1 upto 20 and I will take jumps of 4")
for j in range(1,20,4):
    print(j)

0
1
2
3
4
5
6
7
8
9
I'm starting from 1 upto 20 and I will take jumps of 4
1
5
9
13
17

In [ ]:
# While loop
x=0
print("while loop:")
while (x<5):
    print (x)
    x=x+1
print("for loop")
for i in range(5):
  print(i)

while loop:
1
2
3
4
5
for loop
0
1
2
3
4

In [ ]:
#Now what's the main difference between For and while loop?
#while loop just make an extra iteration from for-loop if incremented is after printing like you see in above case.

In [ ]:
# If-else statement
x=int(input())
if x%2==0:
  print("your number is even")
elif x<0:
  print("your number is -ve")
else:
  print("Your number is odd")

2
your number is even

In [ ]:
#What is list?
#list is just a variable that can hold multiple type of items
#list is also built-in function let's see here by an short example:
my_list=["A ZOO HAS", 10,"TYPES OF ANIMAL."]
print(my_list)

['A ZOO HAS', 10, 'TYPES OF ANIMAL.']

In [ ]:
#list using list()

# create list with the range function
list2=list(range(20))
print(list2)
#add an item
list2.append(21)
print(list2)
#removes an item but takes index by default last index
list2.pop()
print(list2)
#removes exact number/element
list2.remove(19)
print(list2)
# returns the specfic item by index
print(list2[4])
#replacing number
list2[2]=11
print(list2)
#insert func, it's 1st parameter is index and 2nd is value to be inserted
list2.insert(0,00)
print(list2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
4
[0, 1, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
[0, 0, 1, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [ ]:
#THATSSSSSSSSSSS ALLLLLLLLLLL !!!

In [ ]:
#LETS JUST QUICKLY DO SHORT TASKS
#TASK1
#write a code to determine the input of a number is +ve, -ve or 0
num=int(input("Enter Number"))
if(num>0):
  print(f"Given number {num} is +ve")
elif(num<0):
  print(f"Given number {num} is -ve")
else:
  print(f"Given number {num} is 0")

Enter Number23
Given number 23 is +ve

In [ ]:
#TASK2 with for loop
#write a code to determine the even numbers in range of 0-30
for i in range(30):
  if(i%2==0):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28

In [ ]:
#TASK2 with while loop
i=0
while(i<=30):
  if(i%2==0):
    print(i)
  i=i+1

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30

In [ ]:
#EXTRAA
#Choose two numbers, perform floor division on them, and print the result using a placeholder.
num1=6
num2=4
print(f"The floor division of {num1} and {num2} is {num1//num2}")

The floor division of 6 and 4 is 1

In [ ]:
dictm = {
    "apple":"24kacl",
    "baanna":"34kacl",
    "pasta":"50kacl"
}
print(dictm["pasta"])

50kacl

In [ ]:
my_tuple=("apple","banana","cherry")
print(my_tuple)
my_list=my_tuple
my_tuple=tuple(my_list)

('apple', 'banana', 'cherry')